.header {
    justify-content: space-between;
    border: 1px solid rgb(175, 162, 162);
    padding: 1% 18px;
    width: calc(100vw - 40px);
    position: absolute;
    top: 0;
    background: white;
    border-right-width: 0px;
}

.left {
    width: 10vw;
    justify-content: space-between;
    align-items: center;
    display: flex;

}

.search {
    width: 50vw;
    align-items: center;
    display: flex;
}

.reload {
    justify-content: space-between;
    width: 10vw;
    align-items: center;
    display: flex;
}

.option {
    justify-content: space-between;
    width: 5vw;
    align-items: center;
    display: flex;
}